  .row {
    display: flex;
    justify-content: space-between;
    flex-basis: 10%;
  }

  .row.center {
    align-items: center;
  }
  
  .block {
    padding: 0.5rem;

  }

  .nav-items {
    display: flex;
    flex-basis: 25%;
    justify-content: space-around;
    text-decoration: none;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;


  } 

  .nav-items a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;

  }
  
