.row {
    display: flex;
    justify-content: space-between;
    flex-basis: 10%;
  }

  .row.center {
    align-items: center;
  }
  
  .block {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }